/*--------------------------------------------------
					      CSS phoesi.github.io
				            Sophie Hernot
						            ----
            Last Update : 05 / 11 / 2020
--------------------------------------------------*/


				    /*--- Présentation ---*/


#Presentation            /* En-tête */
{
  background-color: #0B868F;
}

#Presentation h1            /* Nom */
{
	padding-top : 30px;
  font-size: xx-large;
  vertical-align: middle;
	color: white;
}

#Presentation h2            /* Texte Présentation */
{
  border-top: 3px solid white;
  border-bottom: 3px solid white;
  padding: 30px;
  padding-top: 20px;
  font-size: x-large;
  color: white;
  text-align: justify;
}


              /*--- Infos ---*/


.Infos            /* Conteneur */
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: flex-start;
}

.Info            /* Contenus */
{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Info img            /* Images Contenu */
{
  display: block;
  margin-left: auto;
  margin-right: auto;
  align-items: center;
}

#Competences .Infos            /* Conteneur (Compétences) */
{
  display: flex;
  flex-direction: row;
  justify-content: flex-around;
  flex-wrap: wrap;
}

#Competences .Info            /* Contenus (Compétences) */
{
  width: 15%;
}
                                /* Mise en place textes (Overlay, Header et Footer) */
#Presentation .Info p, #Presentation .Info a, #Formations a, #Mail a, #Credits a, #Credits , #Copyright
{
  text-align: center;
  color: white;
}

#Presentation .Info p, #Presentation .Info a            /* Taille Texte Informations Header */
{
  font-size: large;
}


              /*--- Profil ---*/


#Pdp            /* Photo Profil */
{
  display: block;
  float: right;
  align-items: center;
  border-radius: 30%;
  width: 80%;
  border: 3px solid white;
}


              /*--- Navigation Bar ---*/


#Navigation             /* Conteneur Navigation Bar */
{
  z-index:1000;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  table-layout: auto; 
  background-color: #05A684;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
}

#Navigation li             /* Liste Navigation Bar */
{
  float: left;
  border-right: 3px solid white;
}

#Navigation .lastchild             /* Dernier élément de la liste */
{
  border-right: none;
}

#Navigation a             /* Texte à lien du navigateur */
{
  display: block;
  font-size: medium;
  color: white;
  float: left;
  text-align: center;
  padding: 14px 83px;
  text-decoration: none;
  vertical-align: middle;
}

#Navigation a:hover              /* Lors du survol des textes à lien du navigateur */
{
  background-color: #0B868F;
}


              /*--- Main Content ---*/


#Body             /* Faire disparaitre la ScrollBar de la page, mais pas ses fonctionnalités */
{
  background-color: white;
  overflow-y: scroll;
  -ms-overflow-style:none;
  scrollbar-width:none;
}

#Body::-webkit-scrollbar             /* Faire disparaitre la ScrollBar de la page, mais pas ses fonctionnalités */
{
  display: none;
}

#Body table             /* Tableaux de la page */
{
  table-layout: fixed; 
  width: 100%;
}

td             /* Mise en page texte  */
{
  justify-content: center;
  padding-right: 20px;
  padding-left: 20px;
  vertical-align: middle;
  text-align: center;
  color: #2E9C6F;
  font-size: medium;
}

.Description                /* Marges pour le contenu principal */
{
  margin-left: 170px;
  margin-right: 170px;
}

.Description h2                   /* Titres de sections */
{
  padding : 5px;
  border: 3px #0B868F outset;
  color: #0B868F;
  vertical-align: middle;
  text-align: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


              /*--- Text ---*/


section p                   /* Textes du contenu principal (mais pas des overlay) */
{
  color: black;
  font-size: large;
  font-weight: bold;
  text-align: center;
}

em                   /* Textes importants des overlay */
{
  font-size: xx-large;
  font-weight: bold;
  font-style: normal;
}


              /*--- Footer ---*/


#Footer             /* Mise en page du Footer */
{
	background-color: #0B868F;
	padding: 3px;
	vertical-align: middle;
	text-align: center;
}

#Mail             /* Taille de police Mail footer */
{
  font-size: x-large;
}

#Credits , #Copyright             /* Taille de police Crédits et Copyrights */
{
  font-size: x-small;
}


			       /*--- Polaroïds ---*/


.polaroids                   /* Conteneur des polaroïds */
{
  display: flex;
  flex-direction: row;
  justify-content: flex-around;
  flex-wrap: wrap;
}

.polaroid                   /* Polaroïds */
{
  margin: 10px;
  width: 30%;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.polaroid img                   /* Images des polaroïds */
{
	width:100%;
	padding-right: 0px;
	padding-bottom: 0px;
}

.legende                    /* Annotations au bas des polaroïds */
{
  text-align: center;
  padding: 5px;
}

.container                    /* Conteneur pour overlay */
{
  position: relative;
  width: 100%;
}

.overlay                     /* Overlay des polaroïds */
{
  position: absolute;
  opacity: 80%;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: #0B868F;
  overflow: hidden;
  width: 100%;
  height: 0;
  transition: .5s ease;
}

.container:hover .overlay                     /* Survol des photos pour overlay */
{
  bottom: 0;
  height: 100%;
}

.text                               /* Textes des overlay */
{
  word-wrap: break-word;
  overflow: hidden;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  right: -20%;
  text-align: center;
  vertical-align: center;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
}


              /*--- Responsive ---*/


@media screen and (max-width: 1225px)                   /* Quand écran petit */
{

  #Pdp                  /* Photo de profil */
  {
    display: block;
    float: right;
    align-items: center;
    border-radius: 30%;
    width: 100%;
    border: 3px solid white;
  }

  #Presentation h1                  /* Nom */
  {
    padding-top: 30px;
    font-size: 100px;
  }

  #Presentation h2                  /* Texte Présentation */
  {
    padding-top: 30px;
    font-size: 35px;
  }

  #Presentation .Info img                  /* Icônes informations autres et contacts */
  {
    width: 150px;
  }

  #Presentation .Info p, #Presentation .Info a                  /* Textes informations autres et contacts */
  {
    font-size: 40px;
  }

  #Presentation .Infos                  /* Conteneur informations autres et contacts */
  {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
  }

  #Navigation a                  /* Texte Navigation Bar */
  {
    padding: 10px 10px;
    font-size: 40px;
  }

  .Description                  /* Enlève les marges du contenu principal */
  {
    margin-left: 0px;
    margin-right: 0px;
  }

  .Description h2                  /* Titres des sections agrandis */
  {
    border: 5px #0B868F outset;
    font-size: 100px;
  }

  .Description p                  /* Textes agrandis */
  {
    font-size: 40px;
  }

  .polaroids                  /* Mise en page polaroïds */
  {
    display: flex;
    flex-direction: column;
    justify-content: flex-around;
    flex-wrap: wrap;
    justify-content: center;
  }

  .polaroid                  /* Taille des polaroïds */
  {
    margin: 3px;
    width: 100%;
  }

  .text                    /* Taille du texte des overlay */
  {
    font-size: 40px;
  }
                                /* Redimensionner les emplacements d'informations des sections compétences, loisirs et présentation */
  #Competences .Info, #Loisirs .Info, #Presentation .Info
  {
    width: 30%;
  }

  #Competences .Info img, #Loisirs .Info img                    /* Redimensionner les icônes des sections compétences et loisrs */
  {
    width: 50%;
  }

  #Loisirs .Infos                  /* Disposition des loisirs */
  {
    display: flex;
    flex-direction: row;
    justify-content: flex-around;
    flex-wrap: wrap;
  }

  em                  /* Textes Importants Polaroïds  */
  {
    font-size: 50px;
  }

}